################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cursur_Clone/config
/.vs/Cursur_Clone/FileContentIndex
/.vs/Cursur_Clone/v17
/.vs
